{% extends 'core/base.html' %}
{% block title %}Cotizaciones {% endblock %}

{% block background %}{% load static %}{% static 'core/img/cotizaciones.sarah-elizabeth-O3gOgPB4sRU-unsplash.jpg' %}{% endblock %}   

{% block headers %}
<h1>Cotizaciones</h1>
<span class="subheading">Solicite servicios</span>
{% endblock %}

{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <br>
    <p><b>Consultas y cotización de servicios</p>
    <p><b>Teléfono:</b> +54 11 5555 5656</p>
    <p><b>Mail:</b> cotizaciones@delicious.com.ar</p>
    
  </div>
{% endblock %}