{% extends 'core/base.html' %}
{% block title %}Home {% endblock %}

{% block background %}{% load static %}{% static 'core/img/ella-olsson-lMcRyBx4G50-unsplash.jpg' %}{% endblock %}   

{% block headers %}
<h1>Delicious</h1>
<span class="subheading">Servicio de lunch empresarial</span>
{% endblock %}

{% block content %}
<h2>Misión y Visión</h2>

<p>En Delicious, nos dedicamos a redefinir la experiencia alimentaria empresarial con viandas que equilibran salud y rendimiento. Comprometidos con la calidad y la innovación, aspiramos a liderar la distribución de opciones saludables, siendo la elección preferida de empresas que valoran el impacto positivo de una alimentación nutritiva en el desempeño laboral. Nuestra visión es ser reconocidos globalmente por nuestra excelencia culinaria y compromiso inquebrantable con la salud y el bienestar, impulsando un cambio significativo en la cultura alimentaria corporativa. En Delicious, creemos en nutrir el cuerpo y la mente a través de soluciones gastronómicas que promuevan la salud y la productividad.</p>


{% endblock %}